body, head {
	width: 1100px;
	margin: auto;
	background-color: #E3E3DE;
}

header {
	margin: -24px;
	margin-bottom: 1em;
	background-image: linear-gradient(to bottom, #212022, #212022);
	height: 150px;
}

header img{
	float: left;
	margin-left: 50px;
	margin-right: 2.5em;
}

header h1{
	font-size: 250%;
	font-style: italic;
	text-align: left;
	color: red;
	text-shadow: 2px 2px 2px #F5F6A9;
	margin-top: -10px;
	padding-top: 60px;
}

#welcome {
	color: white;
	float: right;
	margin-top: 10px;
	margin-right: 5px;
}

.login {
	color: lightsteelblue;
	float: right;
	margin-top: 10px;
	margin-right: 5px;
}

#searchButton{
	float: right;
	margin-right: -550px;
	width: 50px;
	padding-top: 34px;
}

#searchbar {
	float: right;
	margin-right: 100px;
	width: 500px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#cart {
	float: right;
	width: 35px;
	height: 35px;
	margin-top: 55px;
	margin-right: -155px;
}

#cartText{
	font-size: 150%;
	float: right;
	margin-top: 60px;
	margin-bottom: 10px;
	margin-right: -105px;
}

#nav_menu {
	margin-left: -24px;
	margin-top: -16px;
	width: 1148px;
}

#nav_menu ul {
	list-style: none;
	position: relative;
	padding: 0px;
	background-color: #4F4D52;
}

#nav_menu ul li{
	float: left;
}

#nav_menu ul ul {
	display: none;
	position: absolute;
	top: 100%;
}

#nav_menu ul ul li {
	float: none;
}

#nav_menu ul li a {
	text-align: center;
	background-color: #4F4D52;
	display: block;
	width: 161.5px;
	padding: 0.5em 9px;
	text-decoration: none;
	color: white;
	font-weight: bold;
}

#nav_menu ul li:hover > ul {
	display: block;
}

#nav_menu ul li a:hover, #nav_menu ul li a:focus {
	background-color: #787778;
	font-weight: bold;
}

#nav_menu > ul::after{
	content: "";
	display:block;
	clear: both;
}

#nav_menu ul li #currentPage {
	background-color: #787778;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	padding: 1em 1.5em 0;
}

main, aside{
	background-color: #E3E3DE;
}

main {
	float: left;
	width: 565px;
	height: 700px;
}

#cals {
	float: left;
	width: 565px;
	height: 800px;
}

#planDiet {
	float: left;
	width: 565px;
	height: 1100px;
}

main h2, main h3{
	line-height: .5em;
}

#leftColumn {
	float: left;
	width: 250px;
	margin-top: -10px;
	margin-right: 1.5em;
	margin-left: -25px;
}

#leftColumn h3 {
	color: maroon;
	font-size: 130%;
	margin-bottom: -10px;
}

#leftColumn a {
	text-decoration: none;
}

#leftColumn ul{
	padding-left: 1em;
}

#hot {
	color: maroon;
	font-size: 130%;
	margin-top: 18px;
}

a {
	color: steelblue;
	font-weight: bold;
}

ul {
	line-height: 1.5;
}

footer {
	clear: both;
	background: #4F4D52;
	padding: 1px 0 1px;
	margin: 0px -25px 0px;
}

footer p{
	font-size: 80%;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
}

thead tr {
	color: maroon;
	font-weight: bold;
}

td[rowspan] {
	vertical-align: top;
}

tr td {
	padding: .2em .8em;
}

#cc {
	text-align: center;
}

.labels {
	font-weight: bold;
}

.rightAlign {
	text-align: right;
}

#note {
	margin-left: 11px;
	font-size: 90%;
}